body{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.vl {
  border-left: 6px solid black;
  height: 40px;
  padding: 5px;
  margin-left: 10px;
}
.navigation{
    display: flex;
    flex-direction: row;
    padding: 5px;
}
.notes{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E7D5B2;
    margin-bottom: 10px;
}